<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="OleDbSeverConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=/Database11.mdb;" />
    <add name="SqlServerConnection" connectionString="Data Source=.\SQL2017;Initial Catalog=Students; Trusted_Connection=True"/>
  </connectionStrings>
</configuration>